@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: rgb(247, 238, 238);
  background-color: rgb(46, 3, 51);
}
